mixin promo(data)
    section.promo
        h1.promo__title.page__title
            | ПРЕИМУЩЕСТВА G-SYNC

        p.promo__description
            | Каждый монитор с технологией G-SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G-SYNC.

