doctype html
html(class="no-js" lang="ru")

    include ../components/head/head.pug
    include ../components/logo/logo.pug
    include ../components/header/header.pug
    include ../components/header/__list/header__list.pug
    include ../components/navbar/navbar.pug
    include ../components/socials/socials.pug
    include ../components/promo/promo.pug
    include ../components/cards/cards.pug
    include ../components/cards/__item/cards__item.pug
    include ../components/mixins/svg-icon.pug
    include ../components/button-close/button-close.pug
    include ../components/popup/popup.pug
    include ../components/form/form.pug

    head
        +head(head.index)

    body.page
        .page__container
            +header()
                +header__list()
                +navbar()
                    +socials()

            main.main
                +promo()
                +cards()

            +popup()

        |%=symbols=%
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
