.header__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    @media (max-width: $screen-md) {
        flex-basis: 100%;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
        left: 15px;
        width: 100%;
        background: #000;
        top: 0;
    }
}
