.navbar__list-item {
    @media (min-width: $screen-md) {
        padding: 0 48px 0 0;

        &:last-child {
            padding: 0;
        }
    }

    @media (max-width: $screen-md) {
        display: block;
        flex-basis: 100%;
        padding: 0;

        &:not(.navbar__list-item_logo) {
            text-align: center;
            .navbar__list-link {
                display: block;
            }
        }
    }
}
