mixin socials(data)
    ul.socials.header__socials
        li.socials__list-item
            a(href="#").socials__list-link
                != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'socials__list-icon', iconWidth: '30', iconHeight: '24'})
        li.socials__list-item
            a(href="#").socials__list-link
                != pugHelpers.Icon.call(locals, {iconName: 'inst', className: 'socials__list-icon', iconWidth: '25', iconHeight: '25'})

