.navbar__list-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: color, opacity, 0.2s ease-in-out;

    &:hover,
    &:focus {
        color: $color-green;
    }

    @media (max-width: $screen-md) {
        padding: 14px 0;
    }
}
