.page {
    font: 400 16px/28px 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
    color: #fff;
    background: bottom/ cover no-repeat url('../img/general/bg.jpg'), #000;
    height: 100%;
}
