include __list-item/navbar__list-item.pug
mixin navbar(data)
    nav.navbar.header__navbar
        ul.navbar__list.navbar__list_place_header
            +navbar__list-item
                | Продукты
            +navbar__list-item
                | Технологии
            +navbar__list-item
                | Experience
        block
